// =============================================================================
// Config >> Colors
// =============================================================================

$black: #333;
$white: #fff;
$red: #911;

$brand: #c09;

// Application
// =============================================================================

$color-error: $red;
$color-link: $brand;
