// =============================================================================
// Config >> Variables
// =============================================================================

$base-spacing-unit: 1.5rem;

$base-font-size: 16px;
$base-line-height: 1.5;

$font-family-default: sans-serif;
$font-family-header: sans-serif;

// Development mode only stuff
// =============================================================================

$debug: false;
$spatial-awareness: false;
