// =============================================================================
// Tools >> Typography
// =============================================================================

@mixin type-heading {
    font-family: $font-family-header;
    font-weight: 100;
    text-rendering: optimizelegibility;
}

@mixin type-base {
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    font-weight: 300;
}

@mixin type-size($font-size, $line-height: auto) {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) + $base-unit;

    @if $line-height == auto {
        line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }

    @else {

        @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
            line-height: $line-height;
        }
        @else if ($line-height != none and $line-height != false) {
            @warn 'Warning: "#{$line-height}" is not a valid value for `line-height`.'
        }

    }
}
